body {
	font-family: Arial;
	width: 800px;
	padding: 16px;
}

h1 {
	padding: 4px 16px 4px 16px;
	margin: 16px 0px 16px 0px;
}

article > h1 {
	background: #dddddd;
	border: 1px solid #cccccc;
}

article > section {
	margin-left: 24px;
}

article > section > h1 {
	background: #eeeeee;
	border: 1px solid #dddddd;
}

dl {
	margin-left: 24px;
}

dt {
    font-family: Courier New;
	font-weight: bold;
	margin: 16px 0px 2px 0px;
	padding: 4px 0px 4px 6px;
	background: #ddddff;
	border: 1px solid #ccccee;
}

dt > ul,
dt > ul::before,
dt > ul::after,
dt > ul li,
dt > ul li::before,
dt > ul li::after {
    display: inline;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

ul.arguments {
    list-style-type: none;
}

ul.arguments::before {
    content: '(';
}

ul.arguments::after {
    content: ')';
}

ul.arguments li {
    font-style: italic;
}

ul.arguments li::after {
    content: ',';
}

ul.arguments li:only-child::after {
	display: none;
}

ul.unbounded li:last-child::after {
    content: '...';
}

span.return {
    font-weight: normal;
    font-style: italic;
}

span.return::before {
    content: '→ ';
}

dt > ul.aliases {
    display: none;
    margin-top: 8px;
}

dt > ul.aliases::before {
    font-family: Arial;
    content: 'Aliases: ';
}

dd.example {
	display: inline-block;
	background: #f7f7f7;
	border: 1px solid #dddddd;
	padding: 12px 12px 0px 12px;
	margin-bottom: 20px;
}

dd.example p {
	margin-top: 0px;
	margin-bottom: 12px;
}


code {
	font-family: Courier New;
}

.optional {
	color: #999999;
}

span.output {
	color: #3030d0;
	margin-left: 14px;
}